* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 375px;
    max-height: 667px;
    background-color: #bcc5b4;
    text-align: center;
}

#h1 {
    font-size: 25px;
    text-align: center;
    background-color: black;
    color: white;
}

#h2 {
    font-size: 20px;
}

#add,
#suprise
{
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
}