body{
    background-color: aqua; 
    margin-top: 30px;
    width: 400px;
    height: 300px;
    margin-left: 100px;
    display: inline-block;
}

span{
    position: fixed;
    offset-position: 20px;
    top: 150px;
    left: 150px;
}

#button {
    background-color: blue;
    color: white;
    padding: 5px;
}